## User-specific files ##
.vscode/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

sd-env/
models--sd-legacy--stable-diffusion-v1-5/
models/
diffuserextractor/
generated_images/
generated_videos/
generated_gifs/
lora/
vae/

AIDiscordBot/config.json
AIDiscordBot/analytics.json

config.json
analytics.json

AIDiscordBot/bin
AIDiscordBot/obj
